@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.container{
    width:100%;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    box-sizing: border-box;
    padding: 0 15%;
}

.header ul{
    display: flex;
    align-items: right;
    font-size: 18px;
    gap: 10px;
}

.header ul li{
    list-style: none;
    font-size: 20px;
}

.header h2{
    font-size: 24px;
}

.header img{
    width: 100px;
}

.front{
    width: 100%;
    background: #1F2937;
    background: -moz-linear-gradient(top, #1F2937 0%, #2CAAFF 100%);
    background: -webkit-linear-gradient(top, #1F2937 0%, #2CAAFF 100%);
    background: linear-gradient(to bottom, #1F2937 0%, #2CAAFF 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding:10% 15%;
    gap: 15px;
}

.front h1{
    font-size: 48px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px, rgb(255, 0, 0) 0px -18px 40px;
    --darkreader-inline-color:#e8e6e3;
    --darkreader-inline-bgimage: initial;
    --darkreader-inline-bgcolor:#262a2b;
}

.front .front-info{
    flex:1;
}

.front img{
    flex:1;
}

.front-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.front-info p {
    font-size: 18px;
    color: #e5e7eb;
}

.front-info p span{
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 255, 255) 0px -1px 4px, rgb(255, 255, 0) 0px -2px 10px, rgb(255, 128, 0) 0px -10px 20px, rgb(255, 0, 0) 0px -18px 40px;
}

button{
    background-color: #3882f6;
    border-radius: 8px;
    font-size: 18px;
    color: #e5e7eb;
    padding: 5px 35px;
    border: none;
    font-weight: bold;
}

.cards-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #2CAAFF;
background: -moz-linear-gradient(top, #2CAAFF 0%, #f5f5f5 100%);
background: -webkit-linear-gradient(top, #2CAAFF 0%, #f5f5f5 100%);
background: linear-gradient(to bottom, #2CAAFF 0%, #f5f5f5 100%);
    box-sizing: border-box;
    padding: 0 10%;
    gap: 50px;
}

.card-layout{
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;    align-items: center;
    min-width: 150px;
    width: 100%;
    box-sizing: border-box;
    gap: 5px;
    flex: 1;    
}

.card img{
    width:100%;
    height:200px;
    object-fit: contain;
    border-radius: 8px;
}

.card p{
    text-align: center;
    max-width: 200px;
}

.blockquote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 10% 18%;
}

.blockquote>p:nth-child(2){
    font-weight: bold;
    text-align: right;
}

.contact-box{
    padding: 0 15%;
    background-color: #f5f5f5;

}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
    border: 5px solid #3882f6;
    border-radius: 8px;
    padding: 3% 5%;
    
}

.footer{
    width: 100%;
    height: 100px;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #2CAAFF 100%);
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #2CAAFF 100%);
    background: linear-gradient(to bottom, #f5f5f5 0%, #2CAAFF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    box-sizing: border-box;
}